  .slidecontainer {
    margin: 2em;
  }

  .slider {
    -webkit-appearance: none;  
    appearance: none;
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1; 
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px 25px;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: auto;
    text-align: center;
  }

  table {
    margin: auto;
}

th, td {
    padding: 5px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ddd;   
}

h1, h2, table {
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

